.portfolioContainer {
    background-color: var(--bgDark);
    /* height: 862px; */
    /* padding: 0 0 4rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}