.mainButton {
    font-family: var(--headingFontNoCaps);
    background: var(--buttonBg);
    color: var(--buttonText);
    border: 1px solid var(--buttonBorder);

    border-radius: 16px;
    font-size: 1.16rem;
    height: 56px;
    padding: 0 21px;
    transition: 300ms;
    width: max-content;
    flex-grow: 0;
    /* flex-shrink: 0; */
    /* max-width: max-content; */
}

@media(hover:hover){
    .mainButton:hover {
        background-color: var(--buttonBgHover);
        color: var(--buttonTextHover);
        cursor: pointer;
        border: 1px solid var(--buttonBorderHover);

    }
}
