.mainButton {
    font-family: var(--headingFontNoCaps);
    background: none;
    color: var(--secondaryColor);
    border: 1px solid var(--secondaryColor);
    border-radius: 16px;
    font-size: 1.16rem;
    height: 56px;
    padding: 0 21px;
    transition: 300ms;
    min-width: max-content;
    flex-shrink: 0;
}

@media(hover:hover){
    .mainButton:hover {
        background-color: var(--secondaryColor);
        color: var(--bgPrimary);
        cursor: pointer;
    }
}
