.navBar {
    display: flex;
    padding: 1rem 2rem 0;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.4rem;
    /* scroll-snap-align: start; */
}
.noFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 5rem;
    gap: 0.2rem;
}
.noFooter img {
    height: 1.5rem;
    opacity: 0.6;
    /* transform: translateY(-1.5px); */
}
nav ul {
    display: flex;
    column-gap: 1.5rem;
    height: 100%;

}
nav a {
    font-family: var(--headingFontCaps);
    font-size: 1.25rem;
}
.footerNavBar ul {
    flex-direction: column;
    justify-content: space-between;
}
.footerNavBar a, .footerNavBar li {
    font-size: 1rem;
    font-family: var(--headingFontNoCaps);
}
@media (hover:hover)
{
    nav li:hover {
        color: var(--mainColor);
        cursor: pointer;
    }
}
.noFooter img {
    cursor: pointer;
}

@media (width <= 390px) {
    .navBar {
        padding: 1rem 1rem 0;
        column-gap: 0.6rem;
    }
    .navBar ul {
        column-gap: 0.6rem;
    }
    .noFooter {
        flex-basis: 4.5rem;
    }
}
@media (width <= 320px) {
    .navBar {
        padding: 1rem 0.5rem 0;
        column-gap: 0.3rem;
    }
    .navBar ul {
        column-gap: 0.3rem;
    }
}

img.exit {
    animation: exit 150ms;
}
img.enter {
    animation: enter 150ms;
}
img.exit.darkIcon {
    filter: brightness(0) saturate(100%) invert(10%) sepia(18%) saturate(0%) hue-rotate(227deg) brightness(99%) contrast(96%);
}
img.exit.lightIcon {
    filter: brightness(0) saturate(100%) invert(90%) sepia(15%) saturate(76%) hue-rotate(170deg) brightness(100%) contrast(107%);
}
@keyframes exit {
    from {
        transform: rotate(0deg);
        opacity: 0.6;
    }
    to {
        transform: rotate(180deg);
        opacity: 0;
    }
}
@keyframes enter {
    from {
        transform: rotate(180deg);
        opacity: 0;
    }
    to {
        transform: rotate(360deg);
        opacity: 0.6;
    }
}