nav {
    background: var(--bgDark);
}
nav ul {
    display: flex;
    column-gap: 1.5rem;
    list-style: none;
}
nav a, nav li {
    font-family: var(--headingFontCaps);
    color: var(--mainColor-75);
    text-decoration: none;
    font-size: 1.25rem;
    transition: 300ms;
}
.footerNavBar ul {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.footerNavBar a, .footerNavBar li {
    font-size: 1rem;
    font-family: var(--headingFontNoCaps);
}
nav a:hover, nav li:hover {
    color: var(--mainColor);
    cursor: pointer;
}
.navBar {
    display: flex;
    padding: 1rem 2rem 0;
    justify-content: space-between;
    align-items: flex-start;
}

@media (width <= 390px) {
    .navBar {
        padding: 1rem 1rem 0;
    }
    .navBar ul {
        column-gap: 0.6rem;
    }
}