.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* scroll-snap-align: start; */
}
.picAndData {
    margin: 2.66rem 0 4.66rem;
    width: 86vw;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 11rem auto;
    gap: 1.67rem;
}
.aboutPic {
    grid-row: 1;
    grid-column: 1;
    width: 11rem;
    height: 11rem;
    object-fit: cover;
    border-radius: 100%;
    margin: 0 auto;
}
.mainInfo {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 2rem;
}
.mainHeaders {
    display: flex;
    flex-direction: column;
    width: 16.17rem;
    text-align: end;
    gap: 0.42rem;
}
.mainInfo h2 {
    color: var(--mainColor);
    font-size: 1.46rem;
}
.mainInfo h3 {
    font-size: 1.17rem;
}
.mainInfo button {
    margin: 0 0.83rem;
}
.secondaryInfo {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}
.bulletIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.bulletIcons img {
    width: 1.67rem;
    height: auto;
}
.bulletIcons span {
    color: var(--mainColor);
}
@media (width <=700px) {
    .picAndData {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    .aboutPic {
        width: 10rem;
        height: 10rem;
    }
    .mainInfo {
        align-items: center;
    }
    .mainHeaders {
        text-align: center;
    }
    .mainInfo button {
        margin: 0;
    }
    .secondaryInfo {
        padding: 1rem 0 0;
    }
}