.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 0 0 4rem;
}
.presentation {
  margin: 6.5rem 0 8rem;
  align-content: center;
  display: grid;
  grid-template-rows: 1fr 1.5rem;
}
.textWrapper {
    text-align: center;
}
.heroTwo {
  font-family: var(--heroFontOne);
  font-size: 3rem;
  color: var(--mainColor);
  display: inline;
  font-weight: 400;
}
.heroOne {
  font-family: var(--heroFontTwo);
  font-size: 3.8rem;
  font-weight: 400;
  color: var(--secondaryColor);
  display: inline;
}
.heroSix {
  font-family: var(--heroFontThree);
  font-size: 1.25rem;
  color: var(--mainColor);
  justify-self: center;
  padding: 0 1px;
  z-index: 0;
}
.blinkingCaret {
  box-shadow: 0.5px 0 0 var(--mainColor-75);
}
@media(width<=834px) {
  .presentation {
    margin: 8rem 0 11rem;
  }
}
@media ((width >= 750px) and (orientation: portrait)) {
  .presentation {
    margin: 12rem 0 18rem;
  }
}
@media( (width >= 1400px) and (orientation: portrait)) {
  .presentation {
    margin: 12rem 0 18rem;
  }
}
@media( (min-width: 1536px)) {
  .presentation {
    margin: 10rem 0 14rem;
  }
}

.webGLContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 0 0 4rem;
  width: 100%;
}
.webGLpresentation {
  width: 100%;
  display: grid;
}
#three {
  border: 1px solid var(--bgPrimary);
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  width: 100vw;
  height: 80vh;
  background: var(--bgPrimary);
  animation: entry 500ms linear;
}

.webGLpresentation .heroSix {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  height: min-content;
  margin: 46vh 0 0;
  }
.blinkingCaret {
  box-shadow: 0.5px 0 0 var(--mainColor-75);
}

@media( width < 1024px) {
    #three {
      height: 70vh;
    }
    .webGLpresentation .heroSix {
      margin: 40vh 0 0;
    }
}

@keyframes entry {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}