.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 0 0 4rem;
}
.presentation {
  margin: 6.5rem 0 8rem;
  align-content: center;
  display: grid;
  grid-template-rows: 1fr 1.5rem;
}
.textWrapper {
    text-align: center;
}
.heroTwo {
  font-family: var(--heroFontOne);
  font-size: 3rem;
  color: var(--mainColor);
  display: inline;
  font-weight: 400;
}
.heroOne {
  font-family: var(--heroFontTwo);
  font-size: 3.8rem;
  font-weight: 400;
  color: var(--secondaryColor);
  display: inline;
}
.heroSix {
  font-family: var(--heroFontThree);
  font-size: 1.25rem;
  color: var(--mainColor);
  justify-self: center;
  padding: 0 1px;
}
.blinkingCaret {
  box-shadow: 0.5px 0 0 var(--mainColor-75);
}
@media(width<=834px) {
  .presentation {
    margin: 8rem 0 11rem;
  }
}
@media( (width >= 750px) and (orientation: portrait)) {
  .presentation {
    margin: 12rem 0 18rem;
  }
}