.philosophyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* scroll-snap-align: start; */
}
.subContainer {
    margin: 6.5rem 0;
    height: 7.25rem;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.philosophyContainer p {
    color: var(--mainColor);
    font-size: 1.625rem;
    display: inline-block;
}
.italic {
    font-family: var(--mainFont);
    color: var(--mainColor);
    font-style: italic;
    font-size: 1.625rem;
}
.dynamicText {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: max-content;
}
.roller {
    display: inline-block;
    overflow: hidden;
    height: 1.625rem;
    vertical-align:bottom;
    margin: 0 0.5rem;
}
.philosophyContainer .rollerElement {
    display: flex;
    align-items: center;
    font-family: var(--headingFontCaps);
    letter-spacing: 25%;
    animation: displayRoller 25s infinite ease-in-out;
    height: 1.625rem;
}

@keyframes displayRoller {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-1.625rem);
    }
    20% {
        transform: translateY(calc(1.625rem * -2));
    }
    30% {
        transform: translateY(calc(1.625rem * -3));
    }
    40% {
        transform: translateY(calc(1.625rem * -4));
    }
    50% {
        transform: translateY(calc(1.625rem * -5));
    }
    60% {
        transform: translateY(calc(1.625rem * -6));
    }
    70% {
        transform: translateY(calc(1.625rem * -7));
    }
    80% {
        transform: translateY(calc(1.625rem * -8));
    }
}

@media (width <= 700px) {
    .subContainer  {
        flex-direction: column;
        height: auto;
        row-gap: 5rem;
    }
    .dynamicText {
        min-height: 7.25rem;
    }
}

@media (width <= 380px) {
    .dynamicText {
        row-gap: 0.8rem;
    }
    .dynamicText > div:first-child{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    .dynamicText > div:last-child{
        display: flex;
        flex-direction: column;
        row-gap: 0.8rem;
    }
}
@media( (width >= 750px) and (height >= 1000px)) {
    .subContainer {
        margin: 10rem 0 12rem;
    }
}