.projectsContainer {
    padding: 0 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.cards {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    width: 87vw;
    place-items: center;
    margin: 4rem 0 3.66rem;
    scroll-snap-type: x mandatory;
    overscroll-behavior-inline: contain;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.cards > * {
        scroll-snap-align: center;
    }
.cards::-webkit-scrollbar {
        display: none;
    }
.arrow {
    position: absolute;
    top: 17rem;
    width: 2.5rem;
    filter: brightness(0) saturate(100%) invert(98%) sepia(44%) saturate(0%) hue-rotate(62deg) brightness(112%) contrast(101%);
    opacity: 0.5;
    cursor: pointer;
    display: none;
}
.arrowL {
    left: 0;
}
.arrowR {
    transform: rotate(180deg);
    right: 0;
}

@media (width <= 1250px) {
    .cards {
        width: 100vw;
        overflow-x: auto;
    }
}

@media (width <= 1061px) {
    .cards {
        gap: 2rem;
    }
    .cards >:first-child {
        margin-left: calc(50vw - 7rem);
    }
    .cards >:last-child {
        margin-right: calc(50vw - 7rem);
    }
    .arrow {
        display: block;
    }
}

@media (hover: none) and (pointer: coarse) {
    .arrow {
        display: none;
    }
}
@media (width < 834px) {
    .arrow {
        top: 18rem;
    }
}

