h1.title {
    font-family: BebasNeue;
    color: var(--mainColor-75);
    font-size: 1.75rem;
    letter-spacing: 40%;
    padding: 2rem 0 0;
}
.title span {
    letter-spacing: normal;
}

h1.title::first-letter {
    color: var(--secondaryColor-75);
}


.line {
    position: absolute;
    height: 1px;
    stroke: var(--mainColor-75);
}
.line.notInView {
    opacity: 0;
}
.line.inView {
    animation: lineAnimation30 2.5s forwards;
}

@media (width <= 890px) {
    .line.inView {
        animation: lineAnimation55 2.5s forwards;
    }
}
.philosophy .line.inView, footer .line.inView {
    animation: lineAnimation55 2.5s forwards;
}
a {
    text-decoration: none;
    color: var(--mainColor-75);
    transition: 300ms;
}
a:hover {
    color: var(--mainColor);
    cursor: pointer;
}
ul {
    list-style: none;
}

/* #root {
    height: 100vh;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
} */

@keyframes lineAnimation55 {
    from {
        width: 0;
    }
    to {
        width: 55%;
    }
}
@keyframes lineAnimation30 {
    from {
        width: 0;
    }
    to {
        width: 30%;
    }
}
