h1.title {
    font-family: BebasNeue;
    color: var(--mainColor-75);
    font-size: 1.75rem;
    letter-spacing: 40%;
    padding: 2rem 0 0; /*probar con 2. antes era 3.5*/
}
.title span {
    letter-spacing: normal;
}

h1.title::first-letter {
    color: var(--secondaryColor-75);
}

.line {
    width: 100%;
    position: absolute;
    height: 1px;
    stroke: var(--mainColor);

}

@media (width <= 890px) {
    .line {
        width: 55%;
    }
}
footer .line {
    width: 55%;
}