@font-face {
  font-family: "BebasNeue";
  src: url("fonts/bebas-neue-family/BebasNeue-Regular.ttf") format('truetype');
  font-display: block;
}
@font-face {
  font-family: "BebasNeuePro";
  src: url("fonts/bebas-neue-family/Bebas-Neue-Pro-Regular-BF66cf3d7814160.ttf") format('truetype');
  font-display: block;
}
@font-face {
  font-family: "BebasNeueProBook";
  font-style: normal;
  src: url("fonts/bebas-neue-family/Bebas-Neue-Pro-Book-BF66cf3d779e1f9.ttf") format('truetype');
  font-display: block;
}
@font-face {
  font-family: "BebasNeueProBook";
  font-style: italic;
  src: url("fonts/bebas-neue-family/Bebas-Neue-Pro-Book-Italic-BF66cf3d776c5ba.ttf") format('truetype');
  font-display: block;
}
@font-face {
  font-family: "BebasNeueProExpBook";
  font-style: normal;
  src: url("fonts/bebas-neue-family/Bebas-Neue-Pro-Expanded-Book-BF66cf3d77cb9c0.ttf") format('truetype');
  font-display: block;
}
@font-face {
  font-family: "BebasNeueProExpBook";
  font-style: italic;
  src: url("fonts/bebas-neue-family/Bebas-Neue-Pro-Expanded-Book-Italic-BF66cf3d79c13f5.ttf") format('truetype');
  font-display: block;
}
@font-face {
  font-family: "HeroFontOne";
  src: url("fonts/londrina_family/LondrinaOutline-Regular.woff2") format('woff2');
  src: url("fonts/londrina_family/LondrinaOutline-Regular.woff") format('woff');
  font-display: block;
}
@font-face {
  font-family: "HeroFontTwo";
  src: url("fonts/londrina_family/LondrinaSketch-Regular.woff2") format('woff2');
  src: url("fonts/londrina_family/LondrinaSketch-Regular.woff") format('woff');
  font-display: block;
}
@font-face {
  font-family: "HeroFontThree";
  src: url("fonts/londrina_family/LondrinaSolid-Regular.woff2") format('woff2');
  src: url("fonts/londrina_family/LondrinaSolid-Regular.woff") format('woff');
  font-display: block;
}

:root {
  --bgDark: #000000;
  --bgPrimary: #0b0e14;
  --bgSecondary: #1c1c25;
  --bgSecondaryForm: #1c1c25;
  --mainColor: #f0f6fc;
  --mainColor-75: rgba(240, 246, 252, 0.75);
  --secondaryColor: rgb(240, 219, 79);
  --secondaryColor-75: rgba(240, 219, 79, 0.75);
  --formDarkMode: #f5f5f5;
  --buttonBg: none;
  --buttonBorder: var(--secondaryColor);
  --buttonText: var(--secondaryColor);
  --buttonBgHover: var(--secondaryColor);
  --buttonTextHover: var(--bgPrimary);
  --buttonBorderHover: var(--secondaryColor);
  --cardBg: none;

  --headingFontCaps: "BebasNeue", 'Bebas Neue', 'Arial Narrow', sans-serif;
  --headingFontNoCaps: "BebasNeuePro", 'Bebas Neue', 'Arial Narrow', Arial, sans-serif;
  --heroFontOne: "HeroFontOne", 'Arial Narrow', sans-serif;
  --heroFontTwo: "HeroFontTwo", 'Arial Narrow', sans-serif;
  --heroFontThree: "HeroFontThree", 'Arial Narrow', sans-serif;
  --mainFont: "BebasNeueProBook", 'Bebas Neue', 'Arial Narrow', sans-serif;
  --mainFontTwo: "BebasNeueProExpBook", 'Bebas Neue', 'Arial Narrow', sans-serif;

  --iconOpacity: 0.6;

  color-scheme: light dark;

  background-color: var(--bgPrimary);

  font-size: 24px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--mainColor-75);
  font-family: var(--headingFontNoCaps);

}
@media (width <= 834px) {
  :root {
    font-size: 20px;
  }
}
:root.light {
  --bgPrimary: #f5f5f5;
  --bgSecondary: #ffffff;
  --mainColor: rgb(11, 14, 20);
  --mainColor-75: rgba(11, 14, 20, 0.75);
  --secondaryColor: rgb(201, 168, 0);
  --secondaryColor-75: rgba(201, 168, 0, 0.75);
  --formDarkMode: #ffffff;
  --buttonBg: var(--secondaryColor-75);
  --buttonText: var(--mainColor);
  --buttonBorder: var(--secondaryColor-75);

  --buttonBgHover: var(--mainColor-75);
  --buttonTextHover: var(--secondaryColor);
  --buttonBorderHover: var(--secondaryColor);
  --cardBg: #0b0e14;

  --iconOpacity: 1;

}
:root.light .monoIcons {
    filter: brightness(0) saturate(100%) invert(9%) sepia(26%) saturate(388%) hue-rotate(173deg) brightness(96%) contrast(90%);
  }

* {
  margin: 0;
  margin-block: 0;
  padding: 0;
  font-weight: 400;
}
